name: Pipeline Matrix Fruits

on:
  workflow_dispatch:

jobs:
  combinaison:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        fruit: [pomme, banane, fraise, orange]
        nom: [Michel, Sarah, Karim]

    steps:
      - name: Afficher la phrase
        run: |
          if [ "${{ matrix.nom }}" = "Sarah" ]; then
            echo "${{ matrix.nom }} mange une ${{ matrix.fruit }}, et elle adore ça !"
            else
            echo "${{ matrix.nom }} mange une ${{ matrix.fruit }}, et il adore ça !"
            fi

